body {
  width: 350px;
}
@font-face {
  font-family: "Super Dream";
  src: url("Super\ Dream.ttf") format("truetype");
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 15px palevioletred;
  border-radius: 10px;
}

#textContainer {
  color: palevioletred;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  font-family: "Super Dream", sans-serif;
  margin: 30px auto;
}

#imageContainer {

  border-radius: 10px;
  margin: 20px auto;

}

#citationContainer {
  color: rgb(189, 101, 130);
  margin: 10px auto;
  padding: 20px;
  font-family: "Super Dream", sans-serif;
  font-size: 18;
  font-weight: 500;
  text-align: center;
  max-width: 250px;
  line-height: 30px;
}



audio::-webkit-media-controls-panel {
  background-color: #f1e8e8e7; /* Changer la couleur du panneau de contrôle sur les navigateurs WebKit (comme Chrome et Safari) */

}



/* pour minuteur */

button {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  cursor: pointer;

}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  background-color:rgb(192, 192, 204);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background-color:rgb(192, 192, 204)
}
#timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 13rem;
    background-color: rgb(192, 192, 204);
    border-radius: 5px;
    padding: 5px;

}
.Arrow {
    display: grid;
}

#startButton {
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

#startButton:hover {
  background-color: palevioletred;
}

